-r requirements.txt

pytest == 6.2.5
requests == 2.26.0
pre-commit
bumpversion
codecov
pytest-cov
mkdocs == 1.2.3
mkdocs-markdownextradata-plugin == 0.2.5
mkdocs-material == 8.1.2
mkdocs-mermaid2-plugin
markdown-include
pymdown-extensions
mdx-include